<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toy-store-insert</title>
    <style>
        body {
            background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/1/29/mkRzDX.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        header {

            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        article {
            float: center;
            padding: 20px;
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: white;
        }

        nav {
            float: left;
            width: 100%;
            text-align: center;
            padding: 20px;
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <h1>INSERT NEW TOY </h1>
    </header>
    <article>
        <table width=100%>

            <form action="insert" method="POST">

               Toy Name <input type="text" name="ToyName">               
               Type <input type="text" name="type" id="price">
               Price <input type="text" name="price" id="">
               

                <input type="submit" value="update">
            </form>
            </tr>
        </table>
    </article>
    <nav>
        <h2>CONTACT US : GREENWICH UNIVERSITY</h2>
    </nav>
</body>


</html>